.WUIFlexGrid
{
    width:100%;
    border:0px solid #808080;
}

    .WUIFlexGrid td {
        padding:0px;
        margin:0px;
        border-bottom: 1px solid #b5b5b5;
        border-right: 1px solid #b5b5b5;
    }

